<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>New Exception Domain</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSUserNotificationUsageDescription</key>
	<string>Pyllar sends notifications to keep you updated on your investments.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>phonepe</string>
		<string>gpay</string>
		<string>paytmmp</string>
		<string>bhim</string>
		<string>amazonpay</string>
		<string>mobikwik</string>
		<string>payzapp</string>
		<string>sbiyono</string>
		<string>imobile</string>
		<string>axispay</string>
		<string>kotakmobile</string>
		<string>idbibank</string>
		<string>bobworld</string>
		<string>indusmobile</string>
		<string>credpay</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Pyllar needs your location to comply with financial regulations and provide local support.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Pyllar needs your location to comply with financial regulations and provide local support.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.627050529362-24kq1su5cfl4bbt8mbu3afhd315m4vdj</string>
			</array>
		</dict>
	</array>
	<key>CFBundleName</key>
	<string>Pyllar Money</string>
	<key>GIDClientID</key>
	<string>627050529362-24kq1su5cfl4bbt8mbu3afhd315m4vdj.apps.googleusercontent.com</string>
</dict>
</plist>
